/* App.css */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .canvas-container {
    border: 1px solid black;
    height: 500px;
    width: 600px;
  }
  